.top_bar{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}


.NiceButton{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}