
.card{
    width: 220px;
    height: 321px;
    background-color: #535bf2;
    margin: 2px;
}

.card:hover{
    background-color: #646cff;
    position: relative;
    top: -5px;
    box-shadow: 0 0 10px #646cff;
    transition: all;
    transition-duration: 0.75s;
}

.nice_button{
    font-size: 20px;
}