
.cube{
    cursor: pointer;
    user-select: none;
    height: 75px;
    width: 75px;
    transition: all;
    transition-duration: 0.25s;
}

.cube:hover{
    height: 100px;
    width: 100px;
}

.cubeFont{
    font-size: 3px;
}