#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cube_holder{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cubes{
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

/* .regenBtn{

} */